<h1>Display your Pirate here</h1>
#<div class="pirate">

    <p>Pirate Name: <%=@pirate.name%></p>
    <p>Pirate Weight: <%=@pirate.weight%></p>
    <p>Pirate Height: <%=@pirate.height%></p>

<h2>Display your first ship here</h2>

<%@ships.each do |s|%>
    <p>Name: <%=s.name%></p>
    <p>Type: <%=s.type%></p>
    <p>Booty: <%=s.booty%></p>
<%end%>


<h2>Display your second ship here</h2>
